@model OracleNotes.Data.Models.Note

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/css/views/index.css" />
}
<hr />
<div class="card border-secondary mb-3 bg-dark">
    <div class="card-body">
        <h5 class="card-title">Edit note</h5>
        <hr />
        <form action="../Edit" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
            </div>
            <div class="form-group">
                <Button type="submit" class="btn btn-primary">Save</Button>
            </div>
        </form>
        <hr />
        <div>
            <a asp-action="List" class="btn btn-warning">Back to List</a>
        </div>
    </div>
</div>



