@model OracleNotes.Data.Commands.Note.CreateNoteCommand

@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Index" method="post">
    <label for="title">Title:</label>
    @Html.TextBoxFor(model => model.Title, new
{
    @Id = "title",
    @Type = "text",
    @Required = "true"
})
    <label for="text">Text:</label>
    @Html.TextAreaFor(model => model.Text, new
{
    @Id = "text",
    @Required = "true"
})
    <button type="submit">Send</button>
</form>