html {
    min-height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    background: #1e1c2e;
}

.body-content {
    padding-left: 10%;
    padding-right: 10%;
}

.navbar {
    background: #0a1d2b;
}

.nav-link, .navbar-brand {
    color: white;
}